---
title: "Algorithmic Verification"
collection: teaching
type: "Under and Post graduate level"
permalink: /teaching/2014-software-verification
venue: "University of New South Wales, Computer Science Department"
date: 2014-01-10
location: "Sydney, Australia"
---

Teaching Years: 2012 to 2015.

Introduction to algorithmic verification including:

- **automata** (finite and Buchi) theory,
- **temporal logics**,
- **model-checking** for finite and infinite systems,
- **static analysis**