---
title: "Algorithmic Verification"
collection: teaching
type: "Under and Post graduate level"
permalink: /teaching/2015-spring-teaching-1
venue: "University of New South Wales, Computer Science Department"
date: 2014
location: "Sydney, Australia"
---

Introduction to algorithmic verification including:

- **automata** (finite and Buchi) theory,
- **temporal logics**,
- **model-checking** for finite and infinite systems,
- **static analysis**